{% extends "base.html.twig" %}

{% block stylesheets %}
{{ encore_entry_link_tags(entrypoint) }}
{% endblock %}

{% block content %}
<div id="app-root" data-api-doc-uri="{{ url('api_doc', { _format: "json" }) }}"{% for attribute, value in attributes|default([]) %} data-{{ attribute }}="{{ value }}"{% endfor %}></div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags(entrypoint) }}
{% endblock %}
